/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgba(224, 226, 224, 0.56), rgba(121, 177, 231, 0.69));
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.header {
    background-image: url('header-background.jpg');
    background-size: cover;
    background-position: center;
    padding: 40px 20px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

header h1 {
    margin: 0;
}

.add-member, .create-task, .tasks, .team-members {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea, select {
    width: calc(100% - 30px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 6px;
}

button {
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ced4da;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.completed {
    color: green;
}

.delete {
    color: red;
    text-decoration: none;
}

.delete:hover {
    text-decoration: underline;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer button {
    margin: 0 10px;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer button:hover {
    background-color: #0056b3;
}

/* 样式修改 */
.input-field {
    margin-left: 1px;
    margin-right: 10px;
}
input#description,
textarea#description {
    resize: none; }/* 禁止用户调整大小 */

.collapsed ul {
    display: none;
}
.collapse-btn:hover {
    cursor: pointer;
}

.form-group label {
    width: 100px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1px;
}

.form-group select {
    flex: 1;
    margin-left: 1px;
}

.form-group input[type="date"] {
    flex: 1;
}


.assigned-to {
    position: relative;
    left: -15px; /* 将assigned_to向左移动 */
}

.priority {
    position: relative;
    left: -7.5px;
}